<div>
    <div class="flex flex-row">
        <div class="flex flex-column ml-4">
            <p class="pt-1">
                <span class="font-bold">Time interval (days): </span>
                <span class="font-normal">{{details.timeIntervalInDays}}</span>
            </p>
            <p>
                <span class="font-bold">Category: </span>
                <span class="font-normal">{{details.category}}</span>
            </p>
            <p class="pt-1">
                <span class="font-bold">Added date: </span>
                <span class="font-normal">{{details.addedDate}}</span>
            </p>
            <p class="pt-1">
                <span class="font-bold">Last usage: </span>
                <span class="font-normal">{{details.lastUsage}}</span>
            </p>
            <p class="pt-1">
                <span class="font-bold">Next usage: </span>
                <span class="font-normal">{{details.nextUsage}}</span>
            </p>
            <p class="pt-1">
                <span class="font-bold">Active: </span>
                <span class="font-normal">{{details.active}}</span>
            </p>
        </div>
        <div class="ml-4 flex align-self-center">
            <button pButton type="button" icon="pi pi-pencil"
                class="p-button-lg ml-1 p-button-text p-button-rounded p-button-warning"
                (click)="openEditOutcomeDialog()"></button>
        </div>
        <div class="ml-4 flex align-self-center">
            <button pButton type="button" icon="pi pi-trash" (click)="confirmDialog()"
                class="p-button-danger p-button-text p-button-lg"></button>
        </div>
    </div>
    <button pButton class="action-button p-button-rounded p-button-success grid justify-content-center"
        label="Show outcomes" (click)="loadOutcomes()"></button>

    <p-table *ngIf="showOutcomes" [value]="outcomes.content" [paginator]="true" [rows]="10"
        [totalRecords]="outcomes.totalElements" [showCurrentPageReport]="true" responsiveLayout="scroll"
        [(first)]="first" [lazy]="true" (onLazyLoad)="load($event)">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 8%">Name</th>
                <th style="width: 8%">Value</th>
                <th style="width: 8%">Date</th>
                <th style="width: 6%"></th>
                <th style="width: 70%"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-outcome let-expanded="expanded">
            <tr>
                <td>{{ outcome.name }}</td>
                <td>{{ outcome.value }}</td>
                <td>{{ outcome.date }}</td>
                <td>
                    <div class="flex flex-row">
                        <div class="flex">
                            <button pButton type="button" icon="pi pi-pencil"
                                class="p-button-lg ml-1 p-button-text p-button-rounded p-button-warning"
                                (click)="openEditSingleOutcomeDialog(outcome)"></button>
                        </div>
                        <div class="flex">
                            <button pButton type="button" icon="pi pi-trash" (click)="confirmSingleDialog(outcome)"
                                class="p-button-danger p-button-text p-button-lg"></button>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-outcome>
            <app-single-outcome-details [outcome]="outcome"></app-single-outcome-details>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{width: '20vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<p-dialog [(visible)]="showUpdateOutcomeDialog">
    <ng-template pTemplate="header">
        Update continuity outcome
    </ng-template>
    <form (ngSubmit)="updateOutcome()">
        <div class="flex-column">
            <span class="p-float-label text-center mt-4">
                <input id="input-outcome-name" type="text" pInputText name="Outcome name" [(ngModel)]="update.name">
                <label for="input-outcome-name">Name</label>
            </span>
            <span class="p-float-label text-center mt-4">
                <p-inputNumber id="input-outcome-value" [(ngModel)]="update.value" mode="currency" name="Outcome value"
                    [maxFractionDigits]="2" currency="PLN" [min]="0.01"></p-inputNumber>
                <label for="input-outcome-value">Value</label>
            </span>
            <span class="p-float-label text-center mt-4">
                <p-inputNumber id="input-outcome-interval" [(ngModel)]="update.timeIntervalInDays" mode="decimal"
                    name="Outcome value" [min]="1"></p-inputNumber>
                <label for="input-outcome-interval">Interval [in days]</label>
            </span>
            <span class="p-float-label mb-4 mt-4">
                <p-dropdown inputId="input-category" [style]="{ width:'100%' }" appendTo="body"
                    [options]="availableCategories.categories" [(ngModel)]="update.categoryId" name="id"
                    placeholder="Category" optionLabel="name" optionValue="id"></p-dropdown>
            </span>
        </div>
        <div class="flex-column mt-4">
            <div class="flex justify-content-center">
                <button pButton class="action-button p-button-submit" type="submit" label="Update"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="showUpdateSingleOutcomeDialog">
    <ng-template pTemplate="header">
        Update outcome
    </ng-template>
    <form (ngSubmit)="updateSingleOutcome()">
        <div class="flex-column">
            <span class="p-float-label text-center mt-4">
                <input id="input-outcome-name" type="text" pInputText name="Outcome name"
                    [(ngModel)]="updateSingle.name">
                <label for="input-outcome-name">Name</label>
            </span>
            <span class="p-float-label text-center mt-4">
                <p-inputNumber id="input-outcome-value" [(ngModel)]="updateSingle.value" mode="currency"
                    name="Outcome value" [maxFractionDigits]="2" currency="PLN" [min]="0.01"></p-inputNumber>
                <label for="input-outcome-value">Value</label>
            </span>
            <span class="p-float-label text-center mt-4">
                <p-calendar inputId="input-date" name="Date" [(ngModel)]="updateSingle.date" datetime="dd.MM.yyyy"
                    dateFormat="dd.mm.yy" appendTo="body"></p-calendar>
                <label for="input-date">Date</label>
            </span>
            <span class="p-float-label mt-4">
                <p-dropdown inputId="input-category" [style]="{ width:'100%' }" appendTo="body"
                    [options]="availableCategories.categories" [(ngModel)]="updateSingle.categoryId" name="id"
                    placeholder="Category" optionLabel="name" optionValue="id"></p-dropdown>
            </span>
        </div>
        <div class="flex-column mt-4">
            <div class="flex justify-content-center">
                <button pButton class="action-button p-button-submit" type="submit" label="Update"></button>
            </div>
        </div>
    </form>
</p-dialog>