<p-toolbar>
    <div class="p-toolbar-group-left">
        <button pButton class="p-button-success p-button-rounded mr-1" label="Element" icon="pi pi-plus" iconPos="left"
            (click)="openNewElementDialog()"></button>
    </div>
    <div class="p-toolbar-group-right">
        <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteList()"></button>
    </div>
</p-toolbar>
<div class="table">
    <div *ngFor="let element of todoList.elements">
        <app-todo-list-element [element]="element"></app-todo-list-element>
        <hr style="width: 100%;border-color: var(--blue-400);">
    </div>
</div>